global
    log stdout format raw local0

    user haproxy
    group haproxy

    maxconn 4096

    stats socket /tmp/haproxy.sock mode 660 level admin
    stats timeout 30s

defaults
    log global

    mode http

    option httplog
    option dontlognull

    timeout connect 5s
    timeout client 30s
    timeout server 30s
    timeout http-request 10s
    timeout http-keep-alive 10s
    timeout queue 30s
    timeout tunnel 1h

    option redispatch

    retries 3

    maxconn 10000

frontend https
    bind *:443 ssl crt /certs/localhost.pem
    http-request redirect scheme https unless { ssl_fc }
    default_backend app

frontend http
    bind *:80
    http-request redirect scheme https

backend app
    server app app:8080
